<div class="container">
    <form ng-show="editFlashCard" ng-if='formHide' ng-submit='saveEditedFlashCard()'>
        <h2 class='text-center'>Edit flashcard</h2>
        <div class="form-group">
            <label for="">category</label>
            <input type="text" class='form-control' ng-model='editFlashCard.category'>
        </div>
        <div class="form-group">
            <label for="">question</label>
            <input type="text" class='form-control' ng-model='editFlashCard.question'>
        </div>
        <div class="form-group">
            <label for="">answer</label>
            <textarea class="form-control" rows="5" id="comment" ng-model='editFlashCard.answer'></textarea>
        </div>
        <button class='btn btn-default submit' ng-click="hideMyForm()">Cancel</button>
        <button type='submit' class='btn btn-primary '>Save Edit</button>
    </form>
    </br>
    </br>
    <div class="form-group">
        <label for="">category</label>
        <select class="selectpicker col-sm-12" ng-model='selector' required>
            <option>Angular</option>
            <option>History</option>
            <option>Geography</option>
            <option>General Knowledge</option>
            <option>English</option>
        </select>
    </div>
    </br>
    <div ng-repeat='flashcard in flashcards | filter:selector' class='flashContainer'>
        <p><span>Category:</span> {{flashcard.category}}</p>
        <p><span>Question:</span>{{flashcard.question}}</p>
        <p><span>Answer:</span>{{flashcard.answer}}</p>
        <button type="button" class="btn btn-primary btn-md edit" ng-click="editCard(flashcard)">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button type="button" class="btn btn-danger btn-md delete" ng-click="removeFlashCard(flashcard)">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>
