<div class="container">
    <h3 class='text-center'>Select Subject to Study</h3>
    <form ng-submit='startQuiz(quizCategory)'>
        <div class="form-group">
            <label for="">category</label>
            <select class="selectpicker col-sm-12" ng-model ='quizCategory' required>
              <option>Angular</option>
              <option>History</option>
              <option>Geography</option>
              <option>General Knowledge</option>
              <option>English</option>
            </select>
        </div>
        <button type='submit' class='btn btn-primary checkAnswer'>Start Quiz</button>
        <!-- <button ng-if='quizCategory' type='submit' class='btn btn-success checkAnswer'>Show Answer</button> -->
    </form>
    <div ng-hide='!quizCategory' class='quizCard'>
        <p>Question: {{currentCategory.question}}</p>
        <p ng-hide='myAnswer'>Answer: {{currentCategory.answer}}</p>
        <button ng-show='currentCategory' type="button" class="btn btn-primary btn-md edit" ng-click='toggleAnswer()'>Show Answer </button>
        <button ng-hide='myAnswer' type="button" class="btn btn-primary btn-md edit" ng-click='startQuiz(quizCategory); toggleAnswer() '>Next </button>
    </div>
</div>
